.container {
  width: 36.8vw;
  height: 2.05vh;
}
.searchbar {
  outline: none;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  width: 36.8vw;
  height: 3.05vh;
  text-align: center;
  font-size: 1.5vw;
  font-family: "Noto Sans Thai", sans-serif;
}
.searchbar:focus {
  border-bottom: #2c9cdc 1px solid !important;
  color: #2c9cdc;
}
@media screen and (max-width: 660px) {
  .container {
    width: 70vw;
    height: 2.05vh;
  }
  .searchbar {
    border: none;
    border-bottom: 1px solid #bdbdbd;
    width: 70vw;
    height: 2.05vh;
    text-align: center;
    font-family: "Noto Sans Thai", sans-serif;
  }
  .searchbar:focus {
    border: none !important;
  }
}
