.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 60px;
  color: #2c9cdc;
  margin-top: 7vw;
  margin-bottom: 3vw;
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: 500;
}
.searchbar {
  margin-bottom: 1vw;
}
