.container {
  width: 80vw;
  height: 35.88vh;
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.coverPhoto {
  width: 50%;
  height: 100%;
  border-radius: 15px;
  min-width: 150px;
  min-height: 150px;
  object-fit: cover;
}

.infoContainer {
  margin-left: 1vh;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 640px;
}

.title {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 1vh;
  font-family: "Noto Sans Thai", sans-serif;
  text-decoration: none !important;
}

.description {
  font-size: 15%;
  font-family: "Noto Sans Thai", sans-serif;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: auto;
}

.tag {
  background: transparent;
  border: none;
  font-size: 1.5vw;
  text-decoration: underline;
  color: #999999;
  font-family: "Noto Sans Thai", sans-serif;
}
.lastTag {
  border: none;
  background-color: transparent;
  font-size: 1.5vw;
  margin-right: 0.5vw;
  color: #999999;
  margin-top: auto;
  font-family: "Noto Sans Thai", sans-serif;
}
.carousel {
}
@media screen and (min-width: 1024px) {
  .container {
    height: 100%;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.3s;
    border-radius: 40px;
  }
  .coverPhoto {
    width: 13.2vw;
    height: 100%;
    border-radius: 15px;
    min-width: 300px;
    object-fit: cover;
    transition: 0.3s;
  }
  .infoContainer {
    margin-left: 1vh;
    width: 30.3vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 640px;
  }
  .title {
    font-size: 1.8vw;
    font-weight: bold;
    margin-bottom: 1vh;
    font-family: "Noto Sans Thai", sans-serif;
    max-width: 27.8vw;
    min-width: 27.8vw;
  }
  .description {
    font-size: 1.4vw;
    font-family: "Noto Sans Thai", sans-serif;
    max-width: 27.8vw;
  }
  .tagContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: auto;
    max-width: 27.8vw;
  }
  .tag {
    background: transparent;
    border: none;
    font-size: 1vw;
    color: #999999;
    font-family: "Noto Sans Thai", sans-serif;
    max-width: 27.8vw;
    transition: 0.3s;
  }
  .tag:hover {
    background: rgb(68, 144, 214);
    border: none;
    font-size: 1vw;
    text-decoration: underline;
    border-radius: 4px;
    color: white;
    font-family: "Noto Sans Thai", sans-serif;
    max-width: 27.8vw;
  }
  .lastTag {
    background: transparent;
    border: none;
    font-size: 1vw;
    color: #999999;
    font-family: "Noto Sans Thai", sans-serif;
    max-width: 27.8vw;
  }
  .link {
    text-decoration: underline;
    color: #3aa3dd;
  }
  .carousel {
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 80vw;
    height: 45.88vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .coverPhoto {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    min-width: 150px;
    min-height: 190px;
    object-fit: cover;
  }

  .infoContainer {
    margin-top: 2vh;
    margin-left: 1vh;
    width: 100%;
    height: 29.88vh;
    display: flex;
    flex-direction: column;
    max-width: 640px;
  }

  .title {
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 1vh;
    font-family: "Noto Sans Thai", sans-serif;
    max-width: 100%;
  }

  .description {
    font-size: 3vw;
    line-height: 16px;
    font-family: "Noto Sans Thai", sans-serif;
    max-width: 100%;
  }

  .tagContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3;
    max-width: 100%;
  }

  .tag {
    background: transparent;
    border: none;
    font-size: 2vw;
    text-decoration: underline;
    color: #999999;
    font-family: "Noto Sans Thai", sans-serif;
  }
  .lastTag {
    background: transparent;
    border: none;
    font-size: 2vw;
    color: #999999;
    font-family: "Noto Sans Thai", sans-serif;
  }
  .carousel {
    margin-top: auto;
  }
}
a,
u {
  text-decoration: none;
  color: black;
}
